<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>AAAAA</h1>

    <!-- 路由使用(前面加./) -->
    <a href="./xxx/bbb">BBB</a>

    <!-- 路由使用(前面加./) -->
    <form action="./xxx/ccc" method="post">
        帳號: <input type="text" name="user"><br>
        密碼: <input type="password" name="pass"><br>
        <input type="submit" value="ok">
    </form>

</body>
</html>